<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <nav>
  <div id="navbar" class="navbar-collapse collapse page-header">
              <ul class="nav nav-pills">
                <li><a href="/">Home</a></li>
                <li><a href="/gallery">Gallery</a></li>
              </ul>
  </div>
</nav>
