<% include partials/header %>
<div class="main-container gallery">
  <p class="main-header"><img src="images/gulp-title.svg" alt="Gulp Logo" width="150px"> <%=title%></p>
</div>

<div class="image-container">
  <div class="image">
    <img src="images/gulp-title.svg" alt="">

  </div>
  <div class="image">
    <img src="images/gulp-title.svg" alt="">

  </div>
  <div class="image">
    <img src="images/gulp-title.svg" alt="">

  </div>
  <div class="image">
    <img src="images/gulp-title.svg" alt="">

  </div>

  <div class="image">
    <img src="images/gulp-title.svg" alt="">

  </div>
  <div class="image">
    <img src="images/gulp-title.svg" alt="">

  </div>
</div>
<% include partials/footer %>
